# Turso
TURSO_DATABASE_URL=some_url
TURSO_DATABASE_AUTH_TOKEN=some_token
CLERK_USER_ID=your_clerk_user_id # useful for seeding the database with your clerk user id

# Clerk
CLERK_SECRET_KEY=skey
CLERK_PUBLISHABLE_KEY=pkey
CLERK_SIGN_IN_URL=/sign-in
CLERK_SIGN_UP_URL=/sign-up
CLERK_SIGN_IN_FALLBACK_URL=/
CLERK_SIGN_UP_FALLBACK_URL=/

# Upstash
UPSTASH_REDIS_REST_URL=upstash.redis.url
UPSTASH_REDIS_REST_TOKEN=token
